{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

<div class="header pb-6 d-flex align-items-center" id="backgroun_image_div" {% if user_rest_info.background_image %}
     style="min-height: 500px; background-image: url({{user_rest_info.background_image.url}}); background-size: contain; background-position: center top;background-repeat: no-repeat;" {%endif%}
     style="min-height: 500px; background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqa86KP16OoZxRg2y98QKuNrWF5EdElht29tTOiXU2jCSHwKhs5HnL_M4B6xbrKsCqWBY&usqp=CAU); background-size: contain; background-position: center top;background-repeat: no-repeat;">
<!--      
<div class="header pb-6 d-flex align-items-center" id="backgroun_image_div" 
style="min-height: 500px; background-image: url({{user_rest_info.background_image.url}}); background-size: contain; background-position: center top;background-repeat: no-repeat;" > -->
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white" id="user_name"> 
          Hello {{ request.user.username }}
        </h1>
        <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
        <!-- <form action="">
          <input class="btn btn-neutral" type="file" name="background_image" id="">
          <input  class="btn btn-neutral" type="submit" value="Save">
        </form> -->
        <!-- <a href="#!" class="btn btn-neutral">Change</a> -->
      
          <form id="backgroun_image_form" >
            <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token }}" />
            <input type="file"  name="backgroun_image" id="backgroun_image_id" >
          </form>
          
          <!-- <button href="#!" class="btn btn-neutral" id="change_background_image" onclick="backgroun_image_fun()">Change</button> -->
          <button href="#!" class="btn btn-neutral" id="change_background_image" onclick="backgroun_image_fun()">Change</button>
          <span id="background_image_loader"></span>
        </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-4 order-xl-2">
      <div class="card card-profile">
        <img src="/static/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img {% if user_rest_info.profile_pic %} src="{{user_rest_info.profile_pic.url}}" {% endif %} src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqa86KP16OoZxRg2y98QKuNrWF5EdElht29tTOiXU2jCSHwKhs5HnL_M4B6xbrKsCqWBY&usqp=CAU" class="rounded-circle" id="user_dp">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <form id="profile_pic_form" >
              <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token }}" />
              <input type="file"  name="profile_pic" id="profile_pic_id" >
            </form>
            <button href="#" class="btn btn-sm btn-info  mr-4 " onclick="profile_pic()">Change</button>
            <!-- <a href="#" class="btn btn-sm btn-default float-right">Message</a> -->
          </div>
        </div>
        <!-- <div class="d-flex align-items-center text-center"> -->
          <span  id="profile_image_loader" > </span>
        <!-- </div> -->

        <div class="card-body pt-0">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Friends</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Photos</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h5 class="h3">
              {{ request.user.username }}
            </h5>
            <div class="h5 font-weight-300">
              {{ request.user.email }}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>University of Computer Science
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <!-- <h3 class="mb-0">Edit profile </h3> -->
            </div>
            <div class="col-4 text-right">
              <!-- <a href="/profile_update.html"  > -->
                <button id="edit_btn" class="btn btn-sm btn-primary" onclick="edit_profile(this.id)"> Edit Profile </button>
              <!-- </a> -->
            </div>
          </div>
        </div>
        <div class="card-body">
          <form id="profile_form">
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token }}" />
                    <label class="form-control-label" for="input-username">Username</label>
                    <input type="text" name="username" id="input-username" readonly class="form-control" placeholder="Username" value="{{ request.user.username }}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email address</label>
                    <input type="email" name="email" id="input-email" readonly class="form-control" placeholder="{{ request.user.email }}" value="{{ request.user.email }}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">First name *</label>
                    <span class="text-danger" id="first_name" ></span>
                    <input type="text" name="first_name" id="input-first-name" readonly class="form-control" placeholder="First name" value="{{ request.user.first_name }}">
                  
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Last name *</label>
                    <span class="text-danger" id="last_name" ></span>
                    <input type="text" name="last_name" id="input-last-name"  readonly class="form-control" placeholder="Last name" value="{{ request.user.last_name }}">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input id="input-address" name="address" class="form-control" readonly placeholder="Home Address" {% if user_rest_info.address %} value="{{ user_rest_info.address }}" {% endif %} value="" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">City</label>
                    <input type="text" name="city" id="input-city" class="form-control" readonly placeholder="City" {% if user_rest_info.city %} value="{{ user_rest_info.city}}" {% endif %} value="">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Country</label>
                    <input type="text" name="country" id="input-country" class="form-control" readonly placeholder="Country" {% if user_rest_info.country %} value="{{ user_rest_info.country }}" {% endif %} value="">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Postal code</label>
                    <input type="number" name="postal_code" id="input-postal-code" readonly class="form-control" placeholder="Postal Code " {% if user_rest_info.postal_code %} value="{{ user_rest_info.postal_code}}" {% endif %} value=""  >
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">About me</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label class="form-control-label">About Me</label>
                <textarea rows="4" name="about_me" id="input-about-me" class="form-control" readonly placeholder="A few words about you ..." > {% if user_rest_info.postal_code %} {{ user_rest_info.about_me }} {% endif %} </textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<!-- <script src="../../static/assets/js/my_custum.js"></script> -->

<!-- <script>
  // document.getElementById("change_background_image").onclick(alert('hjhghjg'))
  function showAlert() {
    var myText = "This can be whatever text you like!";
    alert (myText);
  }
  </script> -->
{% endblock javascripts %}
